<li class='country-list__info'>
  <img
    src='{{country.flags.svg}}'
    width='36'
    height='24'
    alt='{{country.name.official}}'
    class='country__img'
  />
  {{country.name.official}}</li>